html, body {
  background-color: white;
  background-repeat: repeat;
  font-family: 'Quicksand', serif;
}

footer {
  text-align: center;
  margin-top: 10px;
  line-height: 40px;
}

.navbar {
  background-color: lightskyblue;
  margin-left: -15px;
  margin-right: -15px;
  border-color: black;
  border-radius: 5px;
}

header {
  height:25%;
}

.page-header {
  text-align: center;
}


#footcontain{
  border-color: black;
  border: 1px solid;
  border-radius: 5px;
  background-color: lightskyblue;
}

#sidebar {
  background-color: lightgray;
  border-radius: 5px;
}

#body {
  background-color: lightgray;
  border-radius: 5px;
}

#main {
  background-color:aliceblue;
  border-radius: 5px;
}

@media screen and (max-width:767px){
  html, body {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;

  }
}

@media screen and (min-width:768px){
  html, body {
    margin: 0px;
  }
}